<html>

<head>
    <title>{{ submission.pid.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="/static/css/viewsource.css"/>
    <link type="text/css" rel="stylesheet" href="/static/css/shCoreRDark.css"/>
    <script type="text/javascript" src="/static/js/shCore.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all();
    </script>
    <body style="background: #333333; font-family: Courier New">
    <script type="text/javascript" src="/static/js/shBrushCpp.js"></script>
</head>

<body>
<pre class="brush: cpp">
{{ submission.code }}
</pre>
</body>
</html>
