{% extends "base.html" %}

{% block title %}Submission{% endblock %}

{% block content %}
{% load my_tags %}
{% load pagination_tags %}
<div class="row-fluid">
	<div class="row-fluid span10">
		<div class="row-fluid">
			<h1><center>Submission List</center></h1>
		</div>

		<div class="row-fluid">
			<table class = "table table-striped table-bordered table-condensed">
				<tr>
					<th>Run ID</th>
					<th>User</th>
					<th>Problem</th>
					<th>Result</th>
					<th>Memory</th>
					<th>Time</th>
					<th>Language</th>
					<th>Code Length</th>
					<th>Submit Time</th>
				</tr>
				{% autopaginate submissionList 20 %}
				{% for item in submissionList %}
				<tr>

					<td>{{ item.sid }}</td>
					<td><a href="/handle/profile/{{ item.user.username }}"><span class="label label-info">{{ item.user.username }}</span></a></td>
					<td><a href="/problemset/problem/{{ item.pid_id }}">{{ item.pid.title }}</a></td>
					<td><a href="/submission/viewsource/{{ item.sid }}"><span class="{% judge_result_label item.judge_result %}">{{ item.judge_result }}</span></a></td>
					<td>{{ item.memory }} KB</td>
					<td>{% transTime 'ms' 's' item.run_time %}s</td>
					<td>{% programming_language  item.language %}</td>
					<td>{{ item.code_length }}B</td>
					<td>{{ item.submited_time }}</td>
				</tr>
				{% endfor %}
			</table>
		</div>
		<div class="row-fluid">
			{% paginate %}
		</div>
	</div>

	<div class="row-fluid span2">
		<div class="tableable tabs-left">
			<ul class="nav pull-right nav-tabs nav-stacked" style="margin-top:60px;">
				<li class="nav_bar {% active request '^/contest/\d+/\d+$' %}" id="nav_contestProblem"><a href="/contest/{{ contest.cid }}">Problem</a></li>
				<li class="nav_bar {% active request '^/contest/\d+/submission' %}" id="nav_contestSubmission"><a href="/contest/{{ contest.cid }}/submission">Submission</a></li>
				<li class="nav_bar {% active request '^/contest/\d+/standing' %} " id="nav_contestStanding"><a href="/contest/{{ contest.cid }}/standing">Standing</a></li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
